You are checkout to a branch {{ branch_name }} in your workspace. 
Your job is to help build an integration with {{ integration_provider}} in the codebase.

1. Please view the raw payload from {{ integration_provider }}
2. Please modify `{{ file_name }}`` to handle this type of event
3. Please follow the existing pattern we use to identify and receive payloads

```
{{ raw_payload }}
```