Your job is to help build integrations

1. Please checkout to {{ branch_name }}
2. Please view the raw payload from {{ integration_provider }}
3. Please modify `{{ file_name }}`` to handle this type of event
4. Please follow the existing pattern we use to identify and receive payloads

{{ raw_payload }}